@using TalkBack.Web.Startup
@using TalkBack.Webinars.Dto
@{ ViewBag.Title = L("HomePage");
    ViewBag.CurrentPageName = PageNames.Payments; }

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Payments List</h1>
            </div>
        </div>
    </div>
</div>
<section class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!--<div class="card-header">
        <h5 class="card-title">Payments</h5>
    </div>
     /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="StudentTable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="width:26px">Id</th>
                                            <th style="width:251px">Name</th>
                                            <th>Headline</th>
                                            <th>Payer Name</th>
                                            <th style="width:251px">Fee Paid On</th>
                                            <th style="width:52px">Cost</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.Payments.Items.Count == 0)
                                        {
                            <tr>
                                <td colspan="6">
                                    <code>No records found</code>
                                </td>
                            </tr>
}
                                        @foreach (PaymentDto item in ViewBag.Payments.Items)
                                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Headline
                                </td>
                                <td>
                                    @item.PayerName
                                </td>
                                <td>
                                    @item.FeePaidOn
                                </td>
                                <td>
                                    @item.Cost
                                </td>
                            </tr>
}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts
{
    <environment names="Development">
    </environment>

    <environment names="Staging,Production">
    </environment>
    <script>
        var Popup, dataTable;

        $(document).ready(function () {
            var _$table = $("#StudentTable");
            dataTable = _$table.DataTable({
                paging: true,
                serverSide: true,
                ajax: function (data, callback, settings) {
                    abp.ui.setBusy(_$table);
                    abp.services.app.webinar.getPayments({ id: @ViewBag.Id}).done(function (result) {
                        //var result = r.result;
                        console.log(result);
                        callback({
                            recordsTotal: result.totalCount,
                            recordsFiltered: result.totalCount,
                            data: result.items
                        });
                    }).always(function () {
                        abp.ui.clearBusy(_$table);
                    });
                },
                buttons: [
                    {
                        name: 'refresh',
                        text: '<i class="fas fa-redo-alt"></i>',
                        action: () => dataTable.draw(false)
                    }
                ],
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                language: {
                    emptyTable: "<code>No <b>payments</b> found.</code>"
                },
                columnDefs: [
                    {
                        targets: 0,
                        data: 'id',
                        defaultContent: '',
                    },
                    {
                        targets: 1,
                        data: 'name',
                        sortable: true
                    },
                    {
                        targets: 2,
                        data: 'headline',
                        sortable: true
                    },
                    {
                        targets: 3,
                        data: 'payerName',
                        sortable: true
                    },
                    {
                        targets: 4,
                        data: 'feePaidOn',
                        sortable: true
                    },
                    {
                        targets: 5,
                        data: 'cost',
                        sortable: true
                    }//,
                    @*{
                        targets: 6,
                        data: null,
                        sortable: false,
                        autoWidth: false,
                        defaultContent: '',
                        render: (data, type, row, meta) => {
                            return [
                                `   <a alt="Preview" target="_blank" href="@Url.Action("Preview","Webinars")/` + row.id  +`" class="btn btn-sm bg-primary edit-role" data-role-id="` + row.id + `">`,
                                `       <i class="fas fa-eye"></i>`,
                                '   </a>'
                            ].join('');
                        }
                    }*@
                ]
            });
        });
    </script>
}